*{
	color: #333;
}
body{
	padding: 32px;
}
a{
	text-decoration: none;
	color: #4078c0;
}
a:hover{
	text-decoration: underline;
}
table{
	border: 5px solid #333;
	border-style: none;
	border-collapse: collapse;
}
h1, h2, h3, h4, b{
	font-weight: 600;
}
th, td, li{
	padding: 5px 10px;
	font-size: 14px;
}
p{
	font-size: 14px;
	line-height: 24px;
}

.even{
	background: #CFD8DC;
}

